<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>webday14</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ResquestDemo3</display-name>
    <servlet-name>ResquestDemo3</servlet-name>
    <servlet-class>com.tedu.request.ResquestDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResquestDemo3</servlet-name>
    <url-pattern>/ResquestDemo3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResquestDemo4</display-name>
    <servlet-name>ResquestDemo4</servlet-name>
    <servlet-class>com.tedu.request.ResquestDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResquestDemo4</servlet-name>
    <url-pattern>/ResquestDemo4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResquestDemo5</display-name>
    <servlet-name>ResquestDemo5</servlet-name>
    <servlet-class>com.tedu.request.ResquestDemo5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResquestDemo5</servlet-name>
    <url-pattern>/ResquestDemo5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResponseDemo1</display-name>
    <servlet-name>ResponseDemo1</servlet-name>
    <servlet-class>com.tedu.response.ResponseDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResponseDemo1</servlet-name>
    <url-pattern>/ResponseDemo1</url-pattern>
  </servlet-mapping>
</web-app>